{% block head %}
<style>
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('/static/authBackground-LNteTuvS.png');
        background-size: cover;
        font-family: Arial;
    }

    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: (translate(-50%, -50%));
        padding: 56px;
        background-color: #1f2937;
        border: none;
        border-radius: 15px;
        color: white;
    }

    button {
        padding: 5px;
        border-radius: 10px;
        background-color: #8898d9;
        border: none;
        transition: background-color 300ms;
    }

    button:hover {
        background-color: #90a1b6;
    }

    h1 {
        color: white;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<h1>Новый пароль</h1>
 
<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
 
    <p ><button type="submit">Сохранить</button></p>
</form>
 
{% endblock %}