{% load i18n %}{% autoescape off %}
{% blocktranslate %}Вы получили это письмо, поскольку запросили сброс пароля для своей учетной записи на сайте {{ site_name }}.{% endblocktranslate %}

{% translate "Пожалуйста, перейдите на страницу по ссылке и установите новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Ваше имя пользователя, если вы забыли:' %} {{ user.get_username }}

{% translate "Спасибо за использование нашего сайта!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}