/venv/
/venv
venv/

/venv library root
/venv library root/
venv library root/


__pycache__/

/idea/
/idea
idea/

/.idea/
/.idea
.idea/

/front_ts/node_modules/

.pytest_cache/
/.pytest_cache/
.pytest_cache

.env
.env/
/.env/
/.env

/front_ts/.vite/
/front_ts/dist/

/front/.idea/
/front/.vscode/
/front/node_modules/
/backup/
/media/