:root {
    --font: 'Segoe UI';

    --background-color: #fff;

    --profile-header-color: #323232;
    --profile-header-label-color: #fff;
    --profile-header-btn-border-color: gray;

    --btn-border-color: black;
    --btn-color: white;

    --courses-list-color: #e4e4e4;
    --course-padding-color: #b9b8b8;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.avatar {
    width: 3rem;
    height: 3rem;
}


.spacer {
    flex-grow: 1;
}


.btn {
    height: fit-content;
    border: none;
    border-radius: 5px;
    padding: 3px;
    background-color: var(--btn-color);
}

.btn:hover {
    cursor: pointer;
    background-color: lightgray;
}


.inline-img {
    width: 1rem;
    height: 1rem;
}


.input-text {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
}



.profile-header {
    background: var(--profile-header-color);
    align-items: center;
    padding: 10px;
}

.profile-header-btn {
    margin: 0 1px 0 1px;
}

.label {
    background-color: var(--profile-header-label-color);
    padding: 5px;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
}



#learning {
    align-self: center;
}

#learning-header {
    margin: 10px 0 10px 0;
}

#courses-list {
    padding: 5px;
    background-color:var(--courses-list-color);
}

.course-wrap {
    padding: 5px;
    background-color: var(--course-padding-color);
}