$mainColor: var(--primary-color);
$textColor: var(--text-color);

$standardGap: 10px;

.flex {
    display: flex;
    gap: $standardGap;
}

.flexRow {
    @extend .flex;
}

.flexColumn {
    @extend .flex;
    flex-direction: column;
}


$alignments: (
        Start: flex-start,
        End: flex-end,
        Center: center,
        Stretch: stretch
);

@each $alignmentName, $alignment in $alignments {
    .justify#{$alignmentName} {
        justify-content: $alignment;
    }

    .align#{$alignmentName} {
        align-items: $alignment;
    }

    .alignSelf#{$alignmentName} {
        align-self: $alignment;
    }
}


$subMargin: 24px;

.sub {
    margin-left: $subMargin;
}


a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}