:root {
    --font: 'Segoe UI';

    --background-color: #F5F5F5;

    --header-color: #323232;
    --header-label-color: #FFF;

    --courses-table-bg-color: #E4E4E4;
    --course-bg-color: #B9B8B8;
    --course-label-color: var(--header-label-color);

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.main-axis-cent {
    justify-content: center;
}

.cross-axis-cent {
    align-items: center;
}


.avatar {
    width: 100px;
}


header {
    background-color: var(--header-color);
    padding: 1rem;
    width: 100vw;
}

header .label {
    margin-left: 1rem;
    margin-bottom: 1em;
}

.label {
    background-color: var(--header-label-color);
    border-radius: 7px;
    padding: 1em;
}


#courses-list {
    margin-top: 1rem;
    align-self: center;
    background-color: var(--courses-table-bg-color);
    border-radius: 7px;
}

.course {
    border: .5em solid var(--course-bg-color);
    background-color: var(--course-label-color);
    justify-content: space-between;
    margin: 1rem;
    border-radius: 7px;
}