<!DOCTYPE html>
<html>
<head>
    <title>Изучаем Vue 3</title>
    <meta charset="utf-8"/>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
{% verbatim %}
<div id="app" class="flex-column">
    <div class="flex-row">
        <div class="flex-column">
            <button @click="loadTeacher">Преподаватель:</button>
            <input id="teacherInput" type="text">
        </div>
        <div>
            <button @click="loadCourses">Список курсов</button>
        </div>
    </div>
    <div id="content" class="flex-column">
        
    </div>
</div>
{% endverbatim %}
<script src="/static/app.js"></script>
</body>
</html>