<!DOCTYPE html>
<html lang="ru">

{% verbatim %}

<head>
    <meta charset="UTF-8">
    <title>Scart</title>
    <link rel="stylesheet" href="/front/static/css/style.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body class="flex-column">

<header class="flex-row cross-axis-cent">
    <img src="/front/static/img/avatar.png" class="avatar">
    <div class="flex-column">
        <div class="label">
            {{surname}} {{name}} {{father_name}}
        </div>
        <div class="label">
            Факультет: {{faculty}}
        </div>
    </div>
</header>

<div id="courses-list" class="flex-column">
    <div class="course flex-row" v-for="description in coursesList">
        <div class="label">
            {{description}}
        </div>
        <button>Успеваемость</button>
    </div>
</div>

<script type="module" src="/js/components/teacher.js"></script>
</body>

{% endverbatim %}
</html>