<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Преподаватель – {teacher}</title>
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="/script.js"></script>
</head>
<body>
    <div>
        <img src="{avatar}" alt="Аватар">
    </div>
    <div>
        {surname}
        {name}
        {fatherName}
    </div>
    <div class="flex-column">
        {courses}
    </div>
</body>
</html>