<!DOCTYPE html>
<html lang="ru">

{% verbatim %}

<head>
    <meta charset="UTF-8">
    <title>Scart</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body class="flex-column">
    <header class="flex-row cross-axis-cent">
        <img src="#">
        <div class="flex-column">
            <div class="label">
                {{surname}} {{name}} {{father_name}}
            </div>
            <div class="label">
                Факультет: {{faculty}}
            </div>
        </div>
    </header>

    {{coursesList}}

    <script type="module" src="/static/js/teacher.js"></script>
</body>

{% endverbatim %}
</html>