$alignments: (
        Start: flex-start,
        End: flex-end,
        Center: center,
        Stretch: stretch,
        Around: space-around,
        Between: space-between,
        Evenly: space-evenly
);

$primaryColor: var(--primary-color);
$textColorSecondary: var(--text-color-secondary);
$borderColor: rgba(255, 255, 255, .1);

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.flexRow {
    @extend .flex;
}

.flexColumn {
    @extend .flex;
    flex-direction: column;
}

@each $alignment, $value in $alignments {
    .justify#{$alignment} {
        justify-content: $value;
    }
    .align#{$alignment} {
        align-items: $value;
    }
    .alignSelf#{$alignment} {
        align-self: $value;
    }
}

.block {
    background-color: #1f2937;
    border: 1px solid $borderColor;
    border-radius: 15px;
    padding: 15px;
}

.wide {
    width: 60vw;
}

.absolutelyCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub {
    margin-left: 1rem;
}

.authBackground {
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/authBackground.png');
    background-size: cover;
}

.authForm {
    @extend .block;
    padding: 56px;
    border: none;
}

.signReverse {
    color: var(--red-200);
    &:hover {
        color: var(--red-400);
    }
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 300ms;
    &:hover {
        color: $primaryColor;
    }
}

.secondary {
    font-size: .9em;
    color: $textColorSecondary;
}

.ScartLogo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
}

.h1 {
    font-size: 1.2em;
}

.h2 {
    font-size: 1.3em;
}