$standardGap: 10px;
$subMargin: 1em;

$mainColor: var(--primary-color);
$mainColorText: var(--primary-color-text);
$colorText: var(--text-color);

$secondColor: var(--surface-100);

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: .5em;
    background-color: var(--surface-100);
    border: 1px solid var(--surface-200);
    border-radius: 7px;
}

.sub {
    margin-left: $subMargin;
}

.flex {
    display: flex;
    gap: $standardGap;
}

.flexRow {
    @extend .flex;
}

.flexColumn {
    @extend .flex;
    flex-direction: column;
}

.spacer {
    flex-grow: 1;
}

$alignments: (
    Start: flex-start,
    End: flex-end,
    Center: center,
    Stretch: stretch,
    Between: space-between,
    Around: space-around,
    Evenly: space-evenly
);

@each $alignment, $value in $alignments {
    .justify#{$alignment} {
        justify-content: $value;
    }

    .align#{$alignment} {
        align-items: $value;
    }

    .alignSelf#{$alignment} {
        align-self: $value;
    }
}

.mainWrapper {
    width: 60vw;
}

.coursesCards {
    flex-wrap: wrap;
}

$courseCardWidth: 18vw;
$courseCardHeight: 45vh;

.courseCard {
    width: $courseCardWidth;
    height: $courseCardHeight;
    overflow: auto;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}