:root {
    --std-gap: 10px;

    --green: #10b981;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    gap: var(--std-gap);
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--std-gap);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-self-stretch {
    align-self: stretch;
}

.align-self-center {
    align-self: center;
}

.align-self-start {
    align-self: flex-start;
}