:root {
    --std-gap: 10px;
    --sub-margin: 20px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    gap: var(--std-gap);
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--std-gap);
}

.sub {
    margin-left: var(--sub-margin);
}

.spacer {
    flex-grow: 1;
}