
#main-wrapper {
    gap: 10px;
}

#header {
    background-color: #323232;
    padding: 10px;
}

.label {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

#lessons-wrapper {
    gap: 10px;
    padding: 10px;
    align-self: center;
    align-items: stretch;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.video-href {
    text-decoration: none;
    color: black;
}

.lesson-wrapper:first-child::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d1d1d1;
}

.lesson-wrapper {
    position: relative;
    margin-top: 10px;
    padding-top: 20px;
}

.lesson-wrapper::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d1d1d1;
}

.video-wrapper {
    display: flex;
    flex-direction: row;
    animation: fadeIn 0.15s ease-in-out;
}

video {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    display: block;
    border-radius: 25px;
}

.module-title {
    width: 900px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.module-title {
    position: relative;
}

.module-title .arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('/src/assets/120890.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.module-title .arrow-expanded {
    transform: translateY(-50%) rotate(180deg);
}

.lesson-num {
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

.lesson-name {
    font-weight: bold;
    font-size: 14px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.slide-enter-active, .slide-leave-active {
    transition: all 0.15s;
}

.slide-enter, .slide-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}